1. Load Dataset, then see the header

In [3]:
import pandas as pd
data = pd.read_csv('movie_metadata.csv')
data.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0$,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0$,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0$,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0$,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0$,2009.0,11000.0,7.5,2.35,10000

2. The duration column contains data on the film length. How many missing values are there
in this column?

In [4]:
data['duration'].isna().sum()

15

3. Replace the missing values in the duration column with the median value for this column.

In [5]:
temp = data['duration'].dropna()

In [6]:
import numpy as np
median = np.median(temp)
print(median)

103.0

In [7]:
data['duration'] = data['duration'].fillna(median)

In [8]:
data['duration'].isna().sum()

0

4. What is the average film length? Give the answer as a floating-point figure rounded to
two decimal places.

In [9]:
avg = np.mean(data['duration'])
print("{avg:.2f}".format(avg = avg))

107.19

5. Create a movie_duration_category column, which will contain three categories
depending on the film length:
- Category "1. <90" if the film is less than 90 minutes long
- Category "2. 90â€“120" if the film is between 90 minutes and two hours long (inclusively)
- Category "3. >120" if the film is more than two hours long

In [10]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,103.0,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0

In [11]:
category = []
for a in data['duration']:
    if (a<90) : category.append("<90")
    elif (a>=90 and a<=120): category.append("90-120")
    else : category.append(">120")
    
data['movie_duration_category'] = category

In [12]:
data

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,movie_duration_category
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000,>120
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0,>120
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000,>120
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000,>120
4,NaN,Doug Walker,NaN,103.0,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0,90-120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,English,Canada,NaN,0.0$,2013.0,470.0,7.7,NaN,84,<90
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,English,USA,TV-14,0.0$,NaN,593.0,7.5,16.00,32000,<90
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,English,USA,NaN,1400.0$,2013.0,0.0,6.3,NaN,16,<90
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,English,USA,PG-13,0.0$,2012.0,719.0,6.3,2.35,660,90-120
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,English,USA,PG,1100.0$,2004.0,23.0,6.6,1.85,456,90-120

6. Build a summary table for films released after 2000 (inclusively), to list the numbers of
films:
- Table rows: year
- Table columns: movie duration category ("<90", "90â€“120", ">120")
- The year of release should be displayed in the YYYY format.

In [13]:
filtered_data = data[data.title_year>=2000][['title_year','movie_duration_category']]
filtered_data['title_year'] = filtered_data['title_year'].astype(int)
filtered_data['count'] = 1

In [14]:
sum_table = pd.pivot_table(data=filtered_data, columns= ['movie_duration_category'],
        index=['title_year'], values='title_year', aggfunc='sum')

sum_table

movie_duration_category  90-120  <90  >120
title_year
2000                        112   25    34
2001                        120   29    39
2002                        146   36    27
2003                        108   31    30
2004                        142   30    42
2005                        142   31    48
2006                        146   40    53
2007                        130   31    43
2008                        160   29    36
2009                        178   42    40
2010                        171   26    33
2011                        150   36    39
2012                        139   41    41
2013                        145   38    54
2014                        171   36    45
2015                        145   34    47
2016                         79    8    19

7. How many films between 90 minutes and two hours long were released in 2008?

In [15]:
data[(data.title_year==2008) & (data.movie_duration_category == '90-120')]['title_year'].count()

160

8. The plot_keywords column holds keywords characterizing the film's plot. Using the data
in this column, create a column called movie_plot_category, to contain four categories
depending on the key words in the column:
- Category "love_and_death" if the keywords include both "love" and "death"
- Category "love" if the keywords include the word "love"
- Category "death" if the keywords include the word "death"
- Category "other" if the keywords do not meet the conditions above

In [16]:
plot_keyword_temp = []
for keywords in data['plot_keywords']:
    cat_temp = ''
    keywords = str(keywords)
    if keywords != None and 'love' in keywords:
        cat_temp = 'love'
        if 'death' in keywords:
            cat_temp = cat_temp+'_and_death'
    elif 'death' in keywords:
        cat_temp = 'death'
    else: cat_temp = 'other'
    plot_keyword_temp.append(cat_temp)

In [18]:
data['movie_plot_category'] = plot_keyword_temp
data[['plot_keywords', 'movie_plot_category']].head(20)

                                        plot_keywords movie_plot_category
0              avatar|future|marine|native|paraplegic               other
1   goddess|marriage ceremony|marriage proposal|pi...               other
2                 bomb|espionage|sequel|spy|terrorist               other
3   deception|imprisonment|lawlessness|police offi...               other
4                                                 NaN               other
5   alien|american civil war|male nipple|mars|prin...               other
6           sandman|spider man|symbiote|venom|villain               other
7   17th century|based on fairy tale|disney|flower...               other
8   artificial intelligence|based on comic book|ca...               other
9                    blood|book|love|potion|professor                love
10  based on comic book|batman|sequel to a reboot|...               other
11  crystal|epic|lex luthor|lois lane|return to earth               other
12  action hero|attempted rape|bond girl|official ...               other
13  box office hit|giant squid|heart|liar's dice|m...               other
14              horse|outlaw|texas|texas ranger|train               other
15  based on comic book|british actor playing amer...               other
16  brother brother relationship|brother sister re...               other
17    alien invasion|assassin|battle|iron man|soldier               other
18          blackbeard|captain|pirate|revenge|soldier               other
19  alien|criminal|m.i.b.|maximum security prison|...               other

9. The imdb_score column shows a viewer rating for the film. Build a table to reflect the
average rating of films depending on which movie_plot_category category they belong to.

In [27]:
plotcategory = data['movie_plot_category'].unique()
avg_table = {}
for a in plotcategory:
    avg_score = data[data.movie_plot_category == a]['imdb_score']
    avg_score = np.average(avg_score)
    avg_table[a] = avg_score
avg_table = pd.DataFrame.from_dict(avg_table, orient = 'index', columns=['average_score'])
avg_table

                average_score
other                6.431422
love                 6.580769
death                6.535465
love_and_death       6.506250

10. What is the average rating of films in the "love" category? Give the answer as a floatingpoint figure rounded to two decimal places.

In [37]:
print("{:.2f}".format(avg_table['average_score']['love']))

6.58

11. The budget column contains the film's budget. What is the median budget for all the films

str

In [51]:
# budget column detected as string, remove dollar sign in the end and convert into float
budget = []
for a in data['budget']:
    tmp = a[:-1]
    budget.append(float(tmp))

In [53]:
int(np.median(budget))

15000000